extends ./_layouts/main.jade

block append head
  - var form = req.flash('signup')[0] || {}
  //- +globalVar('tags', tags)
  //- script(src='/ViewControllers/index.js')
  //- style.


block body

  .login-container
    .login-box.animated.fadeInDown
      .login-body
        .login-title
          strong Здравствуйте
          | , пожалуйста авторизуйтесь

        for error in req.flash('error')
          +error(error)
        .panel.panel-default.tabs.auth-tabs
          ul.nav.nav-tabs.nav-justified
            li.active
              a(href='#bylogin', data-toggle='tab', aria-expanded='true') логин и пароль
            li
              a(href='#bycert', data-toggle='tab', aria-expanded='false') сертификат ЭП
          .panel-body.tab-content
            #bylogin.tab-pane.active
              form.form-horizontal(action='/doLogin', method='post')
                .form-group
                  .col-md-12
                    input.form-control(
                      type='text',
                      name='login',
                      value=form.login,
                      placeholder='Логин',
                      )
                .form-group
                  .col-md-12
                    input.form-control(
                      type='password',
                      name='password',
                      value=form.password,
                      placeholder='Пароль'
                      )
                .form-group
                  .col-md-6
                    a.btn.btn-link.btn-block(href='/register') Создать аккаунт?
                  .col-md-6
                    button.btn.btn-info.btn-block Войти
            #bycert.tab-pane
              form.form-horizontal(action='/loginByCert', method='post')
                .form-group
                  .col-md-12
                    button.btn.btn-info.btn-block Войти

      .login-footer
        .pull-left
          | © 2016 Pon4ik
        .pull-right
          a(href='/about') О компании
          |  |
          a(href='/partners') Партнеры
          |  |
          a(href='/services') Услуги
