extends ./_layouts/main.jade

block append head
  - var form = req.flash('signup')[0] || {}
  //- +globalVar('tags', tags)
  //- script(src='/ViewControllers/index.js')
  //- style.


block body
  .registration-container
    .registration-box.animated.fadeInDown
      .registration-body
        .registration-title.text-center
          strong Регистрация
        for error in req.flash('error')
          +error(error)
        
        form(action='/doRegister', method='post').form-horizontal
          h4 Персональные данные
          .form-group
            .col-md-12
              input.form-control(
                type='text',
                name='firstname',
                value=form.firstname,
                placeholder='Имя',
                )
          .form-group
            .col-md-12
              input.form-control(
                type='text',
                name='surname',
                value=form.surname,
                placeholder='Фамилия',
                )
          .form-group
            .col-md-12
              input.form-control(
                type='text',
                name='email',
                value=form.email,
                placeholder='E-mail',
                )
          h4 Аутентификация
          .form-group
            .col-md-12
              input.form-control(
                type='text',
                name='login',
                value=form.login,
                placeholder='Логин',
                )
          .form-group
            .col-md-12
              input.form-control(
                type='password',
                name='password',
                value=form.password,
                placeholder='Пароль'
                )
          .form-group
            .col-md-12
              input.form-control(
                type='password',
                name='repassword',
                value=form.repassword,
                placeholder='Пароль еще раз',
                )
          .form-group.push-up-30
            .col-md-6
              a.btn.btn-link.btn-block(href='/auth') Уже есть аккаунт?
            .col-md-6
              button.btn.btn-danger.btn-block Зарегистрироваться
        //- eo form
      .registration-footer
        .pull-left
          | © 2016 Pon4ik
        .pull-right
          a(href='/about') О компании
          |  |
          a(href='/partners') Партнеры
          |  |
          a(href='/services') Услуги
  